<label for="pid">Id</label>
<input type="text" class="form-control" id="pid" disabled value="null" />
<label for="manufacturer">ManufacturerId</label>
<select id="manufacturer" class="form-control">
    <option value="1">Fumari</option>
    <!--class="form-control"-->
</select>
<label for="name">Name</label>
<input type="text" class="form-control" id="name" />
<label for="descr">Description</label>
<textarea class="form-control" rows="10" id="descr"></textarea>
<label for="packaging">Package weight</label>
<input class="form-control" type="text" id="packaging" />
<label for="price">List price</label>
<input class="form-control" type="text" id="price" />
<label for="photo">Photo</label>
<input type="file" id="photo" />
<label for="avlbl">Is available in store</label>
<input type="checkbox" checked id="avlbl" />