<div style="background-color: white;">
    <div class="row">
        <div class="col-lg-2 col-md-2"></div>
        <div class="col-lg-4 col-md-4" >
            <img ng-src="{{getImage(TobaccoInfo.Photo)}}" />
        </div>
        <div class="col-lg-1 col-md-1"></div>
        <div class="col-lg-4 col-md-4">
            <h1>
                {{TobaccoInfo.Name}}
            </h1>
            <br />
            <span>
                {{TobaccoInfo.Description}}
            </span>
            <br />
            <h2>
                UAH {{TobaccoInfo.Price}}
            </h2>
            <br />
            <div class="row line">

            </div>
            <div class="row line">
                <h4 class="d-inline">Количество&nbsp;&nbsp;</h4>
                <button ng-disabled="isInCart(TobaccoInfo.Id)" class="btn btn-default btn-qty d-inline" ng-click="decCount()">&ndash;</button>
                <span class="d-inline count">
                    {{Count}}
                </span>
                <button ng-disabled="isInCart(TobaccoInfo.Id)" class="btn btn-default btn-qty d-inline" ng-click="incCount()">+</button>
            </div>
            <div class="row line">
                <h4>
                    Фасовка(г)&nbsp;{{TobaccoInfo.PackageWeight}}
                </h4>
            </div>
            <div class="row" style="padding: 2%;">
                <a class="btn add-to-cart" ng-click="addToCartBtnClick()" ng-class="(isInCart(TobaccoInfo.Id)) ? 'half-opacity' : ''" style="font-size: 16pt; border-radius: 0;">
                    {{ (isInCart(TobaccoInfo.Id)) ? 'Убрать' : 'В корзину'}}
                </a>
            </div>
        </div>
    </div>
</div>